.banner {
  margin-left: 85px;
  flex: 1.5;
}

.banner-img {
  flex: 1;
}

.banner div {
  width: 710px;
  display: flex;
}

.banner div img {
  width: 105px;
  border-radius: 50%;
  background-color: white;
}

.banner div p {
  font-size: 18px;
  align-self: center;
  margin-left: 18px;
}

.banner h2 {
  color: white;
  font-size: 68px;
  letter-spacing: -0.1em;
  font-family: "Playfair Display", serif;
}

.banner h2 span {
  color: black;
  font-size: 103px;
  font-family: "Liu Jian Mao Cao", cursive;
  margin: 5px;
}

.banner h3 {
  font-size: 33px;
  font-weight: lighter;
  margin-left: 8px;
}

.banner a {
  margin-top: 12px;
  margin-left: 8px;
}

.btn-black-yellow {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn-black-yellow:hover,
.btn-black-yellow:active {
  color: #f2d701;
}
