.banner {
  padding: 8% 25%;
  /* background:rgba(210, 129, 250, 0.20); */
  padding-right: 18%;
  border-radius: 15px;
}
.banner h2 {
  font-family: "Rochester", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 70px;
  color: #9f2c75;
  font-weight: normal;
}
.divider {
  display: block;
  width: 60px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #408697;
}

.quote {
  display: block;
  max-width: 695px;
  margin: 0px auto 20px;
  font-family: "Open Sans", sans-serif;
  color: #408697;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  text-align: center;
  /* text-transform: uppercase; */
}

.author {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #408697;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.banner img {
  border-radius: 50%;
  display: block;
  /* width: 18%; */
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
  background-color: #9f2c75;
  width: 47%;
  box-shadow: 10px 10px 5px grey;
}

.banner h3 {
  text-align: center;
  font-size: 32px;
  color: #560238;
  font-weight: normal;
  font-family: "Viga", sans-serif;
}

main a {
  list-style: none;
  text-decoration: none;
  padding: 6px 15px;
  color: #560238;
  border-radius: 10px;
  background: #9f2c75;
  color: white;
  text-align: center;
  font-family: "Viga", sans-serif;
  display: block;
  height: auto;
  margin: auto;
  width: 110px;
}
